body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 750px;
  max-height: 500px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  padding: 5px 10px;
  margin: 5px;
  font-weight: bold;
  border: 3px solid #feac32;
  transition: transform 0.2s;
}

button:hover{
  background-color: #ffcc66;
  transform:  scale(1.05);
}

#button1 {
  background-image: linear-gradient(#fecc4c, #ffac33);
  background-color: #feac32;
}

#button2 {
  background-image: linear-gradient(#4dabf7, #1c7ed6);
  background-color: #feac32;
}

#button3 {
  background-image: linear-gradient(#ff6b6b, #c92a2a);
  background-color: #feac32;
}
